<h1> Articles </h1>

<% @articles.each do |article| %>
    <b> id: </b>
    <%= article.id %>
    <b> Title: </b>
    <%= article.title %>
    <b> Body: </b>
    <%= article.body %>
    <br>
<% end %>